# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Torch
*.pt
*.pth
*.pkl
*.bin
*.torchscript

# IDEs / Editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/

# Misc
*.log
temp/
tmp/
