# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Torch
*.pt
*.pth
*.pkl
*.bin
*.torchscript

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Environments
venv/
env/
.venv/
.env

# Misc
*.log
temp/
tmp/
